.global {
  width: auto;
  height: auto;
  background-color: rgb(219, 211, 199);
  display: flex;
  overflow: hidden;
  margin-top: 7.3%;
}
.one {
  width: 70%;
  height: 100%;
}
.two {
  width: 30%;
  height: 100%;
  z-index: 1;
}
.img {
  width: 60%;
  height: 100%;
  position: relative;
  animation: heart-pulse 2.6s infinite;
  animation-direction: alternate;
}
.h1 {
  margin-left: 10%;
  margin-top: 15%;
  font-size: 80px;
  color: rgb(55, 38, 102);
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}
.p {
  font-style: 30px;
  margin-left: 10%;
  position: relative;
  animation-name: examplep;
  animation-duration: 2s;
}
.but {
  text-transform: uppercase;
  background-color: rgb(92, 90, 90);
  color: white;
  margin-left: 10%;
  direction: none;
  padding: 1% 2.2%;
  margin-top: 3%;
  position: relative;
  animation-name: exampleb;
  animation-duration: 2s;
  border: none;
}
.but:hover {
  background-color: red;
}
@keyframes example {
  0% {
    left: -100%;
    top: 0px;
  }

  100% {
    left: 0%;
    top: 0px;
  }
}
@keyframes examplep {
  0% {
    left: -250%;
    top: 0px;
  }

  100% {
    left: 0%;
    top: 0px;
  }
}
@keyframes exampleb {
  0% {
    left: -350%;
    top: 0px;
  }

  100% {
    left: 0%;
    top: 0px;
  }
}

@keyframes heart-pulse {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
/* //////////////Media////////////// */
@media only screen and (max-width: 975px) {
  .p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 906px) {
  .p {
    font-size: 20px;
  }
  .h1 {
    font-size: 40px;
  }
  .global {
    height: 90%;
  }
}
@media only screen and (max-width: 730px) {
  .p {
    font-size: 18px;
  }
  .h1 {
    font-size: 36px;
  }

  .img {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 652px) {
  .p {
    font-size: 16px;
  }
  .h1 {
    font-size: 32px;
  }

  .img {
    margin-left: 12%;
  }
  .but {
    font-size: 13px;
  }
}
@media only screen and (max-width: 577px) {
  .global {
    height: 60vh;
  }
}
@media only screen and (max-width: 529px) {
  .p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 577px) {
  .global {
    height: 50vh;
  }
}
@media only screen and (max-width: 463px) {
  .p {
    font-size: 12px;
  }
  .global {
    height: 45vh;
  }
  .but {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .global {
    height: 40vh;
  }
  .h1 {
    font-size: 28px;
  }
  .p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .global {
    height: 39vh;
  }
  .h1 {
    font-size: 26px;
  }
  .p {
    font-size: 9px;
  }
}
@media only screen and (max-width: 333px) {
  .img {
    margin-left: 17%;
  }
  .global {
    height: 38vh;
  }
}
@media only screen and (max-width: 303px) {
  .img {
    margin-left: 17%;
  }
  .global {
    height: 37vh;
  }
  .h1 {
    font-size: 24px;
  }
  .but {
    font-size: 8px;
  }
}
@media only screen and (max-width: 297px) {
  .img {
    margin-left: 18%;
  }
  .global {
    height: 35vh;
  }
  .h1 {
    margin-top: 20%;
    font-size: 23px;
  }
  .but {
    font-size: 8px;
  }
  .p {
    font-size: 8px;
  }
}
