.nav {
  padding: 2% 0% !important ;
  top: 0%;
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}
.link {
  justify-content: space-around;
  align-items: center;
}
.nl {
  font-size: 18px;
  font-family: italic;
  color: grey;
  margin-right: 5%;
  padding: 0% 7%;
  margin-top: 3%;
}
.nl:hover {
  text-decoration: none;
  color: orangered !important;
}
.logo {
  margin-left: 35%;
}
