.nav {
  padding: 2% 0% !important ;
  position: static;
  top: 0%;
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}
.link {
  justify-content: flex-end;
}
.nl {
  font-size: 16px;
}
.nl:hover {
  color: orangered !important;
}
.logo {
  margin-left: 35%;
}
